trigger:
  - main

# strategy:
#   matrix:
#     linux:
#       operatingSystem: 'ubuntu-latest'
#     mac:
#       operatingSystem: 'macos-latest'    

pool:
  name: local

# pool:
#   vmImage: $(operatingSystem)

stages:
- stage: Build
  jobs:
    - job: BuildJob
      steps:
        - bash: echo "Work on Build package"

- stage: DevDeploy
  jobs:
    - deployment: DevDeployJob
      environment: DEV
      strategy:
        runOnce:
          deploy:
            steps:
              - script: echo "Deploy to $(environment)"

- stage: QADeploy
  jobs:
    - deployment: QADeployJob
      environment: QA
      strategy:
        runOnce:
          deploy:
            steps:
              - script: echo "Deploy to $(environment)"